p{
    font-family:Roboto;
    margin-top:0px;
    margin-bottom:0px;
}
.freecode{
    font-family:Roboto;
    font-size: 22px;
    font-weight:bold;
}
.highlight{
    color: gray;
}
.sample{
    width:700px;
    font-size: 21px;
    margin-top:8px;
    line-height:27px;
}
.finals{
    margin-top:30px;
    font-size: 21px;
}
.click{
    color:rgb(0, 136, 255);
    transition:text-shadow 0.15s ease-in-out;
}
.click:hover{
    cursor:pointer;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.click:active{
    padding-top:5px;
    text-shadow:none;
}